<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.james.mapper.PrepareMapper">
    <select id="select" resultType="java.lang.String">
        SELECT file_name FROM file
    </select>

    <insert id="insertFile">
        INSERT INTO file (id, file_name) VALUES (#{id}, #{fileName})
    </insert>

    <insert id="deleteFile">
        DELETE FROM file WHERE id = #{id}
    </insert>
</mapper>